---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from '../components/Main.astro';
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Oro Patrimonio">
	<Header></Header>
	<img src="https://cdn.discordapp.com/attachments/973568724722389052/1164943870296064070/image.png?ex=65450d86&is=65329886&hm=e12589523f8a13e7be110e1cf8f23ed81bf70e90578d2cf97cdf88f89fd08875&" class="bar">
	<Main></Main>
	<Form></Form>
	<Footer></Footer>
</Layout>

<style lang="scss">
	body{
		overflow-x: hidden;
	}

	.bar{
		width: 600px;
		height: 10px;
	}

	@media only screen and (min-width: 1400px){

		.bar{
			position: relative;
			bottom: 50px;
		}
	}

	@media only screen and (max-width: 900px){
		.bar{
			display: none;
		}
	}
</style>