---
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://cdn.discordapp.com/attachments/973568724722389052/1167130554433552454/0597b3409a3d817b647d42964501c271.png?ex=654d0208&is=653a8d08&hm=b4b9218389c3617fe8927644c13b81a5413d00210eb4c866da57c0245e339ca0&" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!--Google Font -->
		<!--Gabarito -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;900&display=swap" rel="stylesheet">
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global lang="scss">
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-weight: 500;
		font-family: 'Gabarito', sans-serif;
		scroll-behavior: smooth;
	}

	body{
		overflow-x: hidden;
	}

	a{
		text-decoration: none;
	}

	::selection {
  background-color: #FFB000; /* Cambia el color de fondo de la selección */
  color: #ffffff; /* Cambia el color del texto seleccionado */
}
</style>
